
* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
   font-family: kenzo;
   src: url(/fonts/KenzoRegular.otf);
}

@font-face {
   font-family: helvetica;
   src: url(/fonts/helvetica-light.ttf);
}

body{
  /* position: static; */
  background-image: url(images/bgoficial.svg);
  /* background-attachment: fixed; */
  background-position: 100% top;
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  font-size: 21px;
  font-family: kenzo;
  color: #480055;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: kenzo;
  color: #ffffff;
  width: 100%;
}

p{
  /*width: 90%*/
  font-family: helvetica;
  font-weight: lighter;
  /*font-size: 16px;*/
  font-size: 15px;
  color: #480055;

}

.divStart{
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 100px;
  padding-top: 100px;
}


#gif{
  width: 80%;
}

.divBonte{
  padding-top: 50px;
  /* padding-right: 180px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#bontenome{
  width: 35%;
}

.about{
  padding-top: 50px;
  position: relative;
  max-width: 80%;
	margin: 0 auto;
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


.column{
  width: 33%;
  background-color: #F0EDF4;
  border-radius: 46px;
  padding: 20px;
}

.sobreBonte{
  text-align: left;
  flex-grow: 0;
  padding: 16px;
}

.acompanheProjeto{
	text-align: left;
  flex-grow: 0;
  padding: 16px;
}

.subscription{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 90%;
	margin: 0 auto;
}


form{
  /* background-color: white; */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subscriptionItem{
  width: 75%;
  padding-bottom: 15px;
}

#name, #mail{
  background-color: #F0EDF4;
  border-style: none;
  border-radius: 46px;
  padding: 20px;
  font-family: kenzo;
  width: 100%;
  font-size: 20px;
}

.buttonSubmit, #instagram{
  font-family: kenzo;
  border-style: none;
  border-radius: 46px;
  padding: 20px;
  background-image: linear-gradient(to right, #2C0055 , #F42879);
  width: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.divEnd{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.endItem{
  width: 50%;
  padding-bottom: 15px;

}


/* Responsive layout - when the screen is less than 900px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
