body{
  background: url(/images/backgroundTeste1.png);
  background-size: 100%;
}

input[id]{
  /* background: url(/images/fundoppaulinha-01.png); */
}

.row{
  position: relative;
}

.column {
  float: left;
  width: 50%;
  background-color: white;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
